<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="triangle" class="com.adityatalpade.Triangle" autowire="constructor" scope="singleton">
    </bean>

    <bean id="pointA" class="com.adityatalpade.Point">
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
    </bean>

    <bean id="pointB" class="com.adityatalpade.Point">
        <constructor-arg value="5"/>
        <constructor-arg value="5"/>
    </bean>

    <bean id="pointC" class="com.adityatalpade.Point">
        <constructor-arg value="10"/>
        <constructor-arg value="10"/>
    </bean>
</beans>